#homebtn1 {
    background-image: url('Images/halasbballcard.jpg'); /*Image from MLB.com */
    
}

#homebtn2 {
    background-image: url('Images/halas.jpg'); /*Image from Illinois Athletics */
}

#homebtn3 {
    background-image: url('Images/bearsstadium.jpg'); /*Image from Windy City Gridiron */
}

a.btn-lg {
    width: 75%;
    height: 500px;
    background-position: center center;
}

img {
    width: 100%;
    height: 100%;
}