#homebtn1 {
    background-image: url('Images/halasbballcard.jpg'); /*Image from Identify Medals */
    
}

#homebtn2 {
    background-image: url('Images/halas.jpg'); /*Image from Illinois Athletics */
}

#homebtn3 {
    background-image: url('Images/bearsstadium.jpg'); /*Image from Windy City Gridiron */
    font-size: 50px;
}

a.btn-lg {
    width: 75%;
    height: 500px;
    background-position: center center;
    vertical-align: baseline;
    align-items: center;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}

a.btn-lg:hover {
    color: aliceblue;
}

img#imgfix {
    width: 100%;
    height: 100%;
}

#logo {
    width: 20%;
}

#legacytext {
    font-size: 15px;
}